.cross-button{
    border: 0;
    height: 100%;
    background: url(../../../images/close.png);
    width: 18px;
    height: 18px;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
}
